In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [9]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data
data['b']

0.5

In [8]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['2','5','3','7'])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
population_dict = {'Cali':38332521,'Tex':26448193,'NY':19651127,'Flo':19552860,'Illi':12882135}
population = pd.Series(population_dict)
population

Cali    38332521
Tex     26448193
NY      19651127
Flo     19552860
Illi    12882135
dtype: int64

In [11]:
population['Cali']

38332521

In [13]:
area_dict = {'Cali':423967,'Tex':695662,'NY':141297,'Flo':170312,'Illi':149995}
area = pd.Series(area_dict)
area

Cali    423967
Tex     695662
NY      141297
Flo     170312
Illi    149995
dtype: int64

In [14]:
states = pd.DataFrame({'population':population,'area':area})
states

      population    area
Cali    38332521  423967
Tex     26448193  695662
NY      19651127  141297
Flo     19552860  170312
Illi    12882135  149995

In [15]:
states.index

Index(['Cali', 'Tex', 'NY', 'Flo', 'Illi'], dtype='object')

In [16]:
states.columns

Index(['population', 'area'], dtype='object')

In [17]:
states['area']

Cali    423967
Tex     695662
NY      141297
Flo     170312
Illi    149995
Name: area, dtype: int64

In [20]:
pd.DataFrame(population, columns=['population']) ##열 하나짜리 DataFrame

      population
Cali    38332521
Tex     26448193
NY      19651127
Flo     19552860
Illi    12882135

In [21]:
## p.117, 딕셔너리의 리스트에서 구성하기
data = [{'a': i, 'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [24]:
pd.DataFrame([{'a':1,'b':2,'c':3},{'b':3,'c':4},{'a':1,'c':4}])

     a    b  c
0  1.0  2.0  3
1  NaN  3.0  4
2  1.0  NaN  4

In [25]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.092943  0.833649
b  0.229343  0.509020
c  0.776585  0.379278

In [28]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.128627  0.101688
b  0.849274  0.430139
c  0.986638  0.534792

In [29]:
A = np.zeros(3, dtype=[('A','i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [30]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## p.119, Pandas Index 객체

In [31]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [32]:
ind[1]

3

In [33]:
ind[::2] ##step=2

Int64Index([2, 5, 11], dtype='int64')

In [34]:
ind[1] = 10 ##index == immutable

TypeError: Index does not support mutable operations